*.html
*.pdf
*.rkt~
~.swp
*.md~
*.rkt#?#
*.bak
*/*/compiled
*.swp
*.o
bin
*.txt
*.core
*.fasl
**/*.db
**/*.exe
**/*.out
**/cl/standalone/app
**/*.fasb
**/rocks/rocks
**/rocks/rocks.exe
**/*.six
**/*.cfg
**/*.pdf
**/*.cc
**/*.gvm
**/*.o1
**/*.o2
**/*.dg
